<div class="auth-wrapper">
    <form class="form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h3 class="h3 mb-3 font-weight-normal text-center">Register User</h3>
  
      <div *ngIf="errors?.nombre" class="alert alert-danger mt-3">{{ errors?.nombre }}</div>
      <div *ngIf="errors?.rol" class="alert alert-danger mt-3">{{ errors?.rol }}</div>
      <div *ngIf="errors?.email" class="alert alert-danger mt-3">{{ errors?.email }}</div>
      <div *ngIf="errors?.numero_trabajador" class="alert alert-danger mt-3">{{ errors?.numero_trabajador }}</div>
      <div *ngIf="errors?.password" class="alert alert-danger mt-3">{{ errors?.password }}</div>
      <div *ngIf="errors?.c_password" class="alert alert-danger mt-3">{{ errors?.c_password }}</div>
  
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" formControlName="name" id="name" />
      </div>
  
      <div class="form-group">
        <label for="rol">Rol</label>
        <input type="text" class="form-control" formControlName="rol" id="rol" />
      </div>
  
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email" id="email" />
      </div>
  
      <div class="form-group">
        <label for="numero_trabajador">Número de Trabajador</label>
        <input type="text" class="form-control" formControlName="numero_trabajador" id="numero_trabajador" />
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" id="password" />
      </div>
  
      <div class="form-group">
        <label for="c_password">Confirm Password</label>
        <input type="password" class="form-control" formControlName="c_password" id="c_password" />
      </div>
  
      <button type="submit" class="btn btn-block btn-primary">
        Register User
      </button>
    </form>
  </div>
  