<div class="auth-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form mat-elevation-z8">
    <h2 class="form-title">Registrar Usuario</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Introduce tu nombre" formControlName="name">
      <mat-error *ngIf="errors?.nombre">{{ errors.nombre }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="operario">Operario</mat-option>
        <mat-option *ngIf="currentUserRole === 'supervisor'" value="encargado">Encargado</mat-option>
      </mat-select>
      <mat-error *ngIf="errors?.rol">{{ errors.rol }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="correo@ejemplo.com" formControlName="email">
      <mat-error *ngIf="errors?.email">{{ errors.email }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Número de Trabajador</mat-label>
      <input matInput placeholder="Ej: 10294" formControlName="numero_trabajador">
      <mat-error *ngIf="errors?.numero_trabajador">{{ errors.numero_trabajador }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Introduce una contraseña">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="errors?.password">{{ errors.password }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="c_password" placeholder="Repite la contraseña">
      <button mat-icon-button matSuffix type="button" (click)="hideConfirm = !hideConfirm">
        <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="errors?.c_password">{{ errors.c_password }}</mat-error>
    </mat-form-field>
    
    <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Subir Imagen</button>
    <input type="file" #fileInput hidden (change)="onFileChange($event)" />
    <p *ngIf="selectedImage">{{ selectedImage.name }}</p>



    <button mat-raised-button color="primary" class="submit-button" type="submit">
      Registrar
    </button>
  </form>
</div>
