.table-container {
  position: relative;
  width: 100%;
  padding-right: 360px;
}

.user-layout-container-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}


.table-wrapper {
  flex: 1;
}

.full-width-table {
  width: 100%;
  max-width: 100%;
}

.floating-card {
  width: 320px;
  position: sticky;
  top: 100px; /* para que quede visible al hacer scroll */
}

:host ::ng-deep .mat-sidenav-content {
  max-width: none !important;
}