<style>
  
  </style>
  
  <mat-toolbar color="primary">
    <div class="nav-logo">
      <img src="assets/images/logo.png" alt="Logo" width="48" />
    </div>
  
    <div class="nav-content">
  
      <!-- Botones si NO está logeado -->
      <ng-container *ngIf="!isSignedIn">
        <button mat-raised-button color="accent" routerLink="/login">Login</button>
        <button mat-raised-button color="accent" routerLink="/register">Register</button>
      </ng-container>
  
      <!-- Botones si SÍ está logeado -->
      <ng-container *ngIf="isSignedIn">
        <button mat-button routerLink="/profile">PERFIL</button>
        <button mat-button routerLink="/users">USUARIOS</button>
        <button mat-button routerLink="/ver-ordenes">VER ÓRDENES</button>
        <button mat-button routerLink="/crear-orden">CREAR ÓRDENES</button>
      </ng-container>
      <!-- Imagen de perfil en la barra de navegación -->
      <div class="avatar-wrapper" *ngIf="isSignedIn && user?.profile_image_url" (click)="goToProfile()">
        <img [src]="user.profile_image_url" alt="Avatar" class="avatar-img" />
        <div class="avatar-overlay">
          <span>Perfil</span>
        </div>
      </div>
    </div>
  </mat-toolbar>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  