.auth-wrapper {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  .form-title {
    text-align: center;
    margin-bottom: 1.5rem;
  }