<div class="auth-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
      <h2 class="form-title">Iniciar Sesión</h2>
  
      <!-- Mensajes de error -->
      <div *ngIf="errors?.email" class="alert alert-danger mt-3">
        {{ errors?.email }}
      </div>
      <div *ngIf="errors?.password" class="alert alert-danger mt-3">
        {{ errors?.password }}
      </div>
      <div *ngIf="errors?.error" class="alert alert-danger mt-3">
      {{ errors.error }}
    </div>
      <!-- Campo email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="correo@ejemplo.com" />
      </mat-form-field>
  
      <!-- Campo contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          placeholder="Introduce tu contraseña"
        />
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
  
      <button mat-raised-button color="primary" class="full-width" type="submit">
        Iniciar Sesión
      </button>
    </form>
  </div>
  